* {
    margin: 0;
    padding: 0;
    border: 0;
}

#header-container {
    /* margin: 0 20px; */
    display: flex;
    /* gap: 10%; */
    background-image: url('./images/top-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10em;
}

.text-section {
    margin: 70px 95px;
}

.text-section-children {
    margin-bottom: 30px;
}

.text-section .text-section-children p {
    /* line-height: 10px; */
    font-weight: 800;
}

.text-section .welcome {
    font-size: 2rem;
}

.text-section .my-self {
    font-size: 2rem;
}

.text-section .name-style {
    color: orange;
}

.about-heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.details {
    text-align: justify;
    margin-bottom: 20px;
}

.hire-btn {
    background-image: linear-gradient(rgb(196, 115, 243), rgb(164, 164, 236), rgb(221, 109, 128));
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(19, 6, 6);
    border: none;
    border-radius: 5px;
}

.image-section img {
    margin-top: 0;
    width: 40vw;
    height: auto;
    border-radius: 10px;
}

#main-section {
    display: flex;
    align-items: center;
    background-image: url('./images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 10em;
}

.main-section-image img {
    margin-left: 70px;
    width: 40vw;
    height: auto;
    border-radius: 10px;
}

.dream-text{
    text-align: left;
    margin-right: 4rem;
    margin-bottom: 1.5em;
}

.experience{
    text-align: center;
    font-weight: 900;
    font-size: 5rem;
}

.experience-container{
    display: flex;
    gap: 3%;
    margin: 10px 50px;
}

.experience-children1{
    width: 100vw;
    background-color: rgb(221, 255, 221);
    text-align: center;
    padding: 20px;
}

.experience-children1 h1{
    margin: 2rem 0;
    font-weight: bolder;
}
.experience-children1 h4{
    margin: 1rem 0;
    font-weight: 900;
    color: rgb(252, 102, 47);
}
.experience-children1 p{
    margin: 1rem 0;
    font-weight: 400;
    text-align: justify;
}

.experience-children2{
    width: 100vw;
    background-color: rgb(221, 255, 221);
    text-align: center;
    padding: 20px;
}
.experience-children2 h1{
    margin: 2rem 0;
    font-weight: bolder;
}
.experience-children2 h4{
    margin: 1rem 0;
    font-weight: 900;
    color: rgb(252, 102, 47);
}
.experience-children2 p{
    margin: 1rem 0;
    font-weight: 400;
    text-align: justify;
}